/* ARQUIVO CSS DE APOIO */

.imagem-carrossel {
    object-fit: cover;
    height: 90vh;
    /* object-position: 0% 50%; */
}

.imagem-carrossel-noticias {
    object-fit: cover;
    height: 50vh;
}

.botao-padrao {
    background-color: mediumseagreen;
    color: white;
}

